name: Peekabook PR Builder

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Create Local Properties
        run: touch local.properties

      - name: Access Local Properties
        env:
          HOST_URI: ${{ secrets.BASE_URI }}
          NAVER_URL: ${{ secrets.NAVER_URL }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          KAKAO_NATIVE_APP_KEY: ${{ secrets.KAKAO_NATIVE_APP_KEY }}
          KAKAO_REDIRECT_SCHEME: ${{ secrets.KAKAO_REDIRECT_SCHEME }}
          KEYSTORE_PATH: ${{ secrets.KEYSTORE_PATH }}
        run: |
          echo BASE_URI=\"$BASE_URI\" >> local.properties
          echo NAVER_URL=\"$NAVER_URL\" >> local.properties
          echo CLIENT_ID=\"$CLIENT_ID\" >> local.properties
          echo CLIENT_SECRET=\"$CLIENT_SECRET\" >> local.properties
          echo KAKAO_NATIVE_APP_KEY=\"KAKAO_NATIVE_APP_KEY\" >> local.properties
          echo KAKAO_REDIRECT_SCHEME=\"KAKAO_REDIRECT_SCHEME\" >> local.properties
          echo KEYSTORE_PATH= $KEYSTORE_PATH >> local.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create debug keystore
        run: |
          mkdir -p app/keystore
          touch app/keystore/debug.keystore
          
      - name: decode debug keystore
        run: echo "${{ secrets.DEBUG_KEYSTORE_FILE_BASE_64 }}" | base64 -d > app/keystore/debug.keystore

      - name: Lint Check
        run: ./gradlew ktlintCheck

      - name: Build with Gradle
        run: ./gradlew build

      - name: On Success!! Congratulations
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#53A551'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'Peekabook/PR Check S.U.C.C.E.S.S π‰π‰π‰'
          MSG_MINIMAL: true
          SLACK_USERNAME: Peekabook-AOS
          SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤!!! π‰π‰π‰'

      - name: On Failed, Notify in Slack
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'Peekabook/Android Debug build Failβ'
          MSG_MINIMAL: true
          SLACK_USERNAME: Peekabook-AOS
          SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•΄μ£Όμ„Έμ”'

